.dropdown {
  display: inline-block;
  /* Establishes the containing block */
  position: relative;
}

.dropdown-label {
  padding: 0.5em 2em 0.5em 1.5em;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
}

.dropdown-label::after {
  content: "";
  /* Positions the element on the right side of the label */
  position: absolute;
  right: 1em;
  top: 1em;
  /* Uses the top border to form a down arrow */
  border-width: 0.3em;
  border-color: black transparent transparent;
  border-style: solid;
}

.dropdown:hover .dropdown-label::after {
  top: 0.7em;
  /* On hover, changes to an up arrow */
  border-color: transparent transparent black;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  /* Hides the menu initially */
  display: none;
  /* Positions the menu below the dropdown menu */
  position: absolute;
  min-width: 100%;
  background-color: #eee;
  box-sizing: border-box;
  border: 1px solid #999;
}

.dropdown:hover .dropdown-menu {
  /* Reveals the menu on hover */
  display: block;
}

.dropdown-menu > li + li {
  border-top: 1px solid #999;
}

.dropdown-menu > li > a {
  display: block;
  padding: 0.5em 1.5em;
  background-color: #eee;
  color: #369;
  text-decoration: none;
}

.dropdown-menu > li > a:hover {
  background-color: #fff;
}