/*
Modal

Displays a dialog to your webpage.

Use JavaScript to toggle the `is-open` class in order to open and close the dialog.

Markup:
<button class="demobtn">Click</button>
<div class="modal {{modifier_class}}">
  <div class="modal__dialog">
    <div class="modal__header">
      <div class="modal__title">Modal title</div>
      <button class="modal__close">close</button>
    </div>
    <div class="modal__body">
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <!--
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      -->
    </div>
    <div class="modal__footer">
      <button type="button">Close</button>
      <button type="button">Save changes</button>
    </div>
  </div>
</div>
<script>
Array.prototype.forEach.call(document.querySelectorAll('.demobtn'), function(btn) {
  btn.addEventListener('click', function() {
    btn.nextElementSibling.classList.add('is-open');
  });
});
var modals = document.querySelectorAll('.modal');
Array.prototype.forEach.call(modals, function(modal) {
  modal.addEventListener('click', function (event) {
    if (event.target.classList.contains('modal__close')) {
      modal.classList.remove('is-open');
    }
  });
});
document.body.addEventListener('click', function(e) {
  if (e.target.classList.contains('modal')) {
    e.target.classList.remove('is-open');
  }
});
window.addEventListener('keydown', function(e) {
  var activeModal = document.querySelector('.modal.is-open');
  if (e.key.toLowerCase() === 'escape') {
    if (activeModal) {
      activeModal.classList.remove('is-open');
    }
  }
});
</script>

.modal--slidein - Slide in from top
.modal--verticalcenter - Vertically centered

Styleguide Modal
*/

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;/* Hide the modal by default */
  background-color: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
}

.modal__dialog {
  max-width: 40rem;
  margin: 2rem auto;
  border: 1px solid black;
  background-color: white;
}

.modal--slidein .modal__dialog {
  /* We prefer animation to transition here, as some css properties could not be transitioned, such as the display property */
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal--slidein.is-open .modal__dialog {

}

.modal--verticalcenter .modal__dialog {

}

.modal__header,
.modal__body,
.modal__footer {
  padding-left: 1em;
  padding-right: 1em;
}

.modal__header {
  border-bottom: 1px solid gray;
  display: flex;
  padding: 1em;
}

.modal__close {
  padding: 0.3em;
  cursor: pointer;
  font-size: 1em;
  height: 1em;
  width: 1em;
  text-indent: 10em;
  overflow: hidden;
  border: 0;
  margin-left: auto;
  position: relative;
}

.modal__close::after {
  content: "\00D7";
  position: absolute;
  line-height: 0.5;
  top: 0.2em;
  left: 0.2em;
  text-indent: 0;
}

.modal__footer {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.modal.is-open {
  display: block;
}

.modal--verticalcenter.is-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes animatetop {
  from {
    transform: translateY(-300px);
    opacity:0
  }
  to {
    transform: translateY(0);
    opacity:1
  }
}