.yuan-accordion {
  
}

.yuan-accordion .hiddeninput {
  display: none;
}

.yuan-accordion .head {
  background-color: lightgreen;
  display: block;
  cursor: pointer;
}

.yuan-accordion .body {
  height: 0;
  background: #d5d5d5;
  overflow: hidden;
}

.yuan-accordion input:checked + .body {
  height: auto;
}


/* Fixed height */
.yuan-accordion.fixed-height .body {
  -webkit-transition: height 2s linear;
  transition: height 2s linear;
  overflow: auto;
}
.yuan-accordion.fixed-height input:checked + .body {
  height: 100px;
}