.grayscale {
  -webkit-filter: grayscale(1); /* Webkit */
  filter: grayscale(100%);/* W3C */
  filter: gray; /* IE6-9 Not: This rule should be under the W3C rule */
  transition: filter 2s;
}

.grayscale:hover {
  -webkit-filter: grayscale(0); /* Webkit */
  filter: grayscale(0);/* W3C */
}