/* */
.yuanui-calendar {

}

.yuanui-calendar table {
  width: 200px;
  background-color: grey;

  color: white;
}

.yuanui-calendar table tr td {
  text-align: center;
  cursor: pointer;
}

.yuanui-calendar table tr td:hover {
  outline: 1px solid white;
}