<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Float</title>
    <style type="text/css">
      div.container {
        border-top: 1px solid blue;
        border-bottom: 1px solid blue;
        overflow: auto; /* Given a value auto to fix the containing element zero pixels tall issue */
        width: 100%; /* Fixes for IE 6, note the horizontal scroll bar will be visible if there is either left border or right border specified. */
      }
      div.box {
        float: left;
        width: 100px;
        background-color: gray;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box">A lot of layouts place boxes
      next to each other. The float
      property is commonly used to
      achieve this.</div>
      <div class="box">When elements are floated, the
      height of the boxes can affect
      where the following elements sit.</div>
      <div class="box">In this example, you can see six
      paragraphs, each of which has a
      width and a float property set.</div>
      <div class="box">The fourth paragraph does not
      go across to the left hand edge
      of the page as one might expect.
      Rather it sits right under the
      third paragraph.</div>
      <div class="box">The reason for this is that the
      fourth paragraph has space to
      start under the third paragraph,
      but it cannot go any further to
      the left because the second
      paragraph is in the way.</div>
      <div class="box">Setting the height of the
      paragraphs to be the same
      height as the tallest paragraph
      would solve this issue, but it
      is rarely suited to real world
      designs where the amount of
      text in a paragraph or column
      may vary. It is more common
      to use the clear property
      (discussed on the next page) to
      solve this issue.</div>
      
      <div class="box">A lot of layouts place boxes
      next to each other. The float
      property is commonly used to
      achieve this.</div>
      <div class="box">When elements are floated, the
      height of the boxes can affect
      where the following elements sit.</div>
      <div class="box">In this example, you can see six
      paragraphs, each of which has a
      width and a float property set.</div>
      <div class="box">The fourth paragraph does not
      go across to the left hand edge
      of the page as one might expect.
      Rather it sits right under the
      third paragraph.</div>
      <div class="box">The reason for this is that the
      fourth paragraph has space to
      start under the third paragraph,
      but it cannot go any further to
      the left because the second
      paragraph is in the way.</div>
      <div class="box">Setting the height of the
      paragraphs to be the same
      height as the tallest paragraph
      would solve this issue, but it
      is rarely suited to real world
      designs where the amount of
      text in a paragraph or column
      may vary. It is more common
      to use the clear property
      (discussed on the next page) to
      solve this issue.</div>
      
      
      <div class="box">A lot of layouts place boxes
      next to each other. The float
      property is commonly used to
      achieve this.</div>
      <div class="box">When elements are floated, the
      height of the boxes can affect
      where the following elements sit.</div>
      <div class="box">In this example, you can see six
      paragraphs, each of which has a
      width and a float property set.</div>
      <div class="box">The fourth paragraph does not
      go across to the left hand edge
      of the page as one might expect.
      Rather it sits right under the
      third paragraph.</div>
      <div class="box">The reason for this is that the
      fourth paragraph has space to
      start under the third paragraph,
      but it cannot go any further to
      the left because the second
      paragraph is in the way.</div>
      <div class="box">Setting the height of the
      paragraphs to be the same
      height as the tallest paragraph
      would solve this issue, but it
      is rarely suited to real world
      designs where the amount of
      text in a paragraph or column
      may vary. It is more common
      to use the clear property
      (discussed on the next page) to
      solve this issue.</div>
      
      <div class="box">A lot of layouts place boxes
      next to each other. The float
      property is commonly used to
      achieve this.</div>
      <div class="box">When elements are floated, the
      height of the boxes can affect
      where the following elements sit.</div>
      <div class="box">In this example, you can see six
      paragraphs, each of which has a
      width and a float property set.</div>
      <div class="box">The fourth paragraph does not
      go across to the left hand edge
      of the page as one might expect.
      Rather it sits right under the
      third paragraph.</div>
      <div class="box">The reason for this is that the
      fourth paragraph has space to
      start under the third paragraph,
      but it cannot go any further to
      the left because the second
      paragraph is in the way.</div>
      <div class="box">Setting the height of the
      paragraphs to be the same
      height as the tallest paragraph
      would solve this issue, but it
      is rarely suited to real world
      designs where the amount of
      text in a paragraph or column
      may vary. It is more common
      to use the clear property
      (discussed on the next page) to
      solve this issue.</div>
    </div>
  </body>
</html>