<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Layout</title>
    <style type="text/css">

      .demo {
        border: 1px solid black;
        padding: 10px;

        /* We prefer jsfiddle to preview the code and result, but keep the code in the HTML file in case of use. */
        display: none;
      }
    </style>
  </head>
  <body>
    <h2>HTML for page with a two-column layout</h2>
    <div class="demo">
      <iframe style="width: 100%;" height="300" frameborder="no" allowtransparency="true" allowfullscreen="true" src="two-columns-float.html"></iframe>
    </div>
    <iframe height="360" style="width: 100%;" scrolling="no" title="mvdKPw" src="//codepen.io/rainyjune/embed/mvdKPw/?height=360&theme-id=20598&default-tab=css,resultundefined" frameborder="no" allowtransparency="true" allowfullscreen="true"> See the Pen <a href='https://codepen.io/rainyjune/pen/mvdKPw/'>mvdKPw</a> by Kang Chen (<a href='https://codepen.io/rainyjune'>@rainyjune</a>) on <a href='https://codepen.io'>CodePen</a>. </iframe>

    <h2>Equal-height columns using a CSS-based table layout</h2>
    <div class="demo">
      <iframe style="width: 100%;" height="300" frameborder="no" allowtransparency="true" allowfullscreen="true" src="two-columns-css-table.html"></iframe>
    </div>
    <iframe height="380" style="width: 100%;" scrolling="no" title="GzRBZw" src="//codepen.io/rainyjune/embed/GzRBZw/?height=380&theme-id=20598&default-tab=css,resultundefined" frameborder="no" allowtransparency="true" allowfullscreen="true"> See the Pen <a href='https://codepen.io/rainyjune/pen/GzRBZw/'>GzRBZw</a> by Kang Chen (<a href='https://codepen.io/rainyjune'>@rainyjune</a>) on <a href='https://codepen.io'>CodePen</a>. </iframe>

    <h2>Equal-height columns using a flexbox</h2>
    <div class="demo">
      <iframe style="width: 100%;" height="300" frameborder="no" allowtransparency="true" allowfullscreen="true" src="two-columns-flexbox.html"></iframe>
    </div>
    <iframe height="360" style="width: 100%;" scrolling="no" title="bzGjQV" src="//codepen.io/rainyjune/embed/bzGjQV/?height=360&theme-id=20598&default-tab=html,resultundefined" frameborder="no" allowtransparency="true" allowfullscreen="true"> See the Pen <a href='https://codepen.io/rainyjune/pen/bzGjQV/'>bzGjQV</a> by Kang Chen (<a href='https://codepen.io/rainyjune'>@rainyjune</a>) on <a href='https://codepen.io'>CodePen</a>. </iframe>
  </body>
</html>